
.divcontainer{
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url('../assets/images/menu.jpg');
    width: 100vw;
    height: auto;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
}
nav{
  width: 100vw;
  font-size: 1.2em;
  height:auto;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(255,255,255, 1);
  cursor: pointer;
}
.aboutme1 ,.skills1, .projects1, .resume1, .contact1{
  display: none;
}
.aboutme, .skills,.projects, .resume, .contact{
  display: flex;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

// about me stuff
.aboutmeText{
    display: flex;
    margin: 3em 4em 2em 4em;
    font-size: 1.5em;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.myskillsDiv{
  display: flex;
  max-width: 500px;
  overflow-x:scroll;
  background-color: rgba(169, 169, 169,0.65);
  border: 5px solid grey;
  border-radius: 5px;
  margin: 5em 5em 5em 5em;
}
 .myskills{
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  margin: 0 1em 0 1em;
 }

//  hamburger icon
.hamburger{
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  gap: 0.2em;
  cursor: pointer;
}
.ham{
  height: 4px;
  width: 25px;
  background-color: black;
  border-radius: 5px;
}

// media query
@media only screen and (max-width: 600px) {
  .myskillsDiv{
    margin-right: 1.2em;
    margin-left: 1.2em;
    width: 100%;
    overscroll-behavior: contain;
  }

  .aboutmeText{
    font-size: 0.9em;
  }

  nav{
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .aboutme1 ,.skills1, .projects1, .resume1, .contact1{
    font-size: 1.2em;
    padding-top: 20px;
    justify-content: center;
    width: 60%;
    border-bottom: 0.1px dashed black;
  }
}