@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

.divcontainer{
    margin: 0;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: rgba(103, 128, 159, 0.8);
    // padding-bottom: 2em;
}
nav{
  width: 100vw;
  font-size: 1.75em;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(255,255,255, 0.8);
  font-family: 'Unbounded', cursive;
  z-index: 1;
  cursor: pointer;
}
.aboutme1 ,.skills1, .projects1, .resume1, .contact1{
  display: none;
}
.aboutme, .skills,.projects, .resume, .contact{
  display: flex;
  color: black;
  transition: max-height 3s ease-out;
  text-shadow: white 2px 2px;
}
.aboutme{
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

.skills{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.projects{
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

.resume{
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 12s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.contact{
  animation: fadeIn 2.5s;
  -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  -ms-animation: fadeIn 2.5s;
}

// icons

a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.icons{
  display: flex;
  margin: 1em;
  gap: 1em;
}

.linkedin{
  background-color: #0072b1;
  box-shadow: white 1px 1px ;
  position: absolute;
  left: 0px;
  top: 180px;
  z-index: 0;
  padding: 5px 5px 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  color: white;
}
.text{
  display: none;
}

.linkedin:hover{
  padding: 5px 5px 5px 30px;

  .text{
    display: inline-block;
    font-size: 1em;
  }

}

.github{
  background-color: #A03232;
  box-shadow: white 1px 1px ;
  position: absolute;
  left: 0px;
  top: 125px;
  z-index: 0;
  padding: 5px 5px 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  color: white;
}

.github:hover{
  padding: 5px 5px 5px 30px;

  .text{
    display: inline-block;
    font-size: 1em;
  }
}

// about me stuff
.name{
  color: white;
  text-shadow: black 1px 1px;
  text-align: center;
}


.about_me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4em 0 4em;
  gap: 1em;
}

.und{
  max-width: 5em;
  // background-color: white;
}

.photodiv{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 2em;
}
.photo{
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 3em;
}

.imgline{
  margin: auto;
  justify-content: center;
  height: 4px;
  width: 60%;
  background-color: white;
  border-radius: 50%;
  box-shadow: gold 1px 1px;
}

.aboutmeText{
    display: flex;
    font-size: 1.5em;
    text-align:justify;
    text-align-last:left;
    color: white;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
// =============
// end of navigation menu

.triangle-down{
  content: '';
  display: flex;
  width: 100vw;
  height: 0;
  // margin-left:-50px;
  border-left: 800px solid transparent;
  border-right: 800px solid transparent;
  border-top: 150px solid rgba(103, 128, 159, 0.8);
}

// ===============

  .skillsDiv{
    max-width: 600px;
    border: 5px solid grey;
    margin-top: 13em;
    border-radius: 5px;
    width:98vw;
  }

  .skillsTitle{
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 0.6em;
    padding-top: 1em;
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(181,181,123,0.9961050724637681) 41%);
    text-shadow: white 2px 2px;
    font-family: 'Unbounded', cursive;
  }
.myskillsDiv{
  display: flex;
  overflow-x:scroll;
  background-color: rgba(169, 169, 169,0.65);
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
}
// scrollbar test below
.myskillsDiv::-webkit-scrollbar {
  width: 11px;
  height: 10px;
  }
  .myskillsDiv::-webkit-scrollbar-track-piece  {
  background-color: rgba(255, 255, 255, 0.8);
  }
  .myskillsDiv::-webkit-scrollbar-thumb:horizontal {
  height: 11px;
  border-radius: 5px;
  background-color: rgba(103, 128, 159, 0.8);
  border: 1px solid white;
  }

// scrollbar text above
 .myskills{
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  text-align: center;
  p{
    font-weight: 500;
  }

 }

.contactmeDiv{
  margin: 0 1em 8em 1em;
  border: 5px solid grey;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  width: 90vw;
  font-size: 1.3em;
  max-width: 600px;
  padding-bottom: 4em;
}

.contactmeTitle{
  border-bottom: 1px solid grey;
  padding-bottom: 0.6em;
  padding-top: 1em;
  margin-bottom: 4em;
  width: 100%;
  background: rgb(238,238,238);
  background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(181,181,123,0.9961050724637681) 41%);
  text-shadow: white 2px 2px;
  font-family: 'Unbounded', cursive;
}

// caresoul
.caresoulDiv{
  border: 5px solid grey;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  object-fit:cover;
  margin: 15em 0 15em 0;
}

.carousel-control-prev,
.carousel-control-next {
  // color: $carousel-control-color;
  color: black;
}
.projtext{
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  border-radius: 5px;
}

.btn{
  border: 1px solid black;

}
.projimage{
  max-width: 98vw;
}
// hamburger button
.btnham {
  cursor: pointer;
  margin: 10px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background: black;
  margin: 3px;
  position: relative;
}


// media query
@media only screen and (max-width: 1100px) {
  .myskillsDiv{
    padding-right: 1.2em;
    padding-left: 1.2em;
    width: 100%;
    overscroll-behavior: contain;
  }

  .about_me{
    margin: 0 2em 0 2em;
  }
  .aboutmeText{
    font-size: 1.2em;
    text-align:left;
  }

  nav{
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 100vh;
    background-color: rgba(255,255,255,0.9);
  }

  .aboutme1 ,.skills1, .projects1, .resume1, .contact1{
    font-size: 1.2em;
    justify-content: center;
    padding: 10px 0 10px 0;
    width: 60%;
    border: 1px solid black;
    background-color: rgba(235,235,235,1);
    margin: 0.8em 0 0.8em 0;
    border-radius: 5px;
    box-shadow: rgba(103, 128, 159, 1) 2px 2px 2px 2px;
  }

  .iconsfalse{
    z-index: -1;
  }

  .myprojects{
    width: 98vw;
    margin: 1em 0 1em 0;
  }

  .contactmeDiv{
    width: 99vw;
  }

  .projectsimg{
    width: 98vw;
  }

  .projtext{
  font-size: 0.8em;
  }

  .skillsDiv{
    width: 98vw;
  }
}