<div class="divcontainer">
  <div #point_4></div>
<!-- start of header -->
  <header>
    <nav nav class="navbar navbar-default navbar-fixed-top">
      <div (click)="onClick()" (click)="toggleclass()" class="btnham">
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
        <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
      </div>
      <div class="aboutme1" [ngClass]="status === true ? 'aboutme': null " (click)="scrollaboutme(point_4)" (click)="this.isHamburguer = true;">About Me</div>
      <div class="skills1"[ngClass]="status === true ? 'skills': null " (click)="scrollSkills(point_3)" (click)="this.isHamburguer = true;">Skills</div>
      <div class="projects1"[ngClass]="status === true ? 'projects': null " (click)="scrollProjects(point_2)" (click)="this.isHamburguer = true;">Projects</div>
      <div class="resume1"[ngClass]="status === true ? 'resume': null "  ><a target="_blank" href="https://drive.google.com/file/d/1hvNHDxtfryfxd-T6IqgGPVznmlga_DrI/view?usp=share_link" (click)="this.isHamburguer = true;" (click)="changeStatus()">Resume</a></div>
      <div class="contact1"[ngClass]="status === true ? 'contact': null " (click)="scrollContact(point_1)" (click)="this.isHamburguer = true;">Contact</div>
    </nav>

    <div [ngClass]="status === true ? 'iconsfalse icons' : 'icons'">
      <a href="https://www.linkedin.com/in/jamesvrtis1" target="_blank" >
        <div class="linkedin">
          <h3 class="text">/jamesvrtis1 &nbsp;&nbsp;&nbsp;</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
        </div>
      </a>
      
        <a target="_blank" href="https://github.com/vrtisjames1"> 
          <div class="github" >
              <h3 class="text">vrtisjames1  &nbsp;&nbsp;&nbsp;</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            </div>
        </a>
          </div>
    <div class="about_me" >
      <div class="photodiv">
        <img class="photo" src="../assets/images/photo.jpg"/>
      </div>
      <div class="imgline"></div>


        <div class="name">
          <h1 >Jimmy</h1>
        </div>

      <p class="aboutmeText">
        Hello, thank you for visiting my portfolio! A bit about me is that I have a passion for learning. I enjoy the daily challenges and complexities with software engineering. I have an A.A.Sc. in General Science, B.Sc. in Petroleum Engineering, and I am currently pursuing a M.Sc. in Electrical Engineering from the University of North Dakota. I have a diverse career and educational backround in Software Engineering, Electrical Engineering, Reservoir Engineering, & Project Management. I am based in Boston, MA, but I love to travel and explore. I'm an Air Force veteran with over 11 years of leadership experience.
      </p>
      <div class="aboutmeImage">
        <img class="und" src="../assets/images/und.png"/>
        <img class="und" src="../assets/images/airforce.png"/> 
      </div>
      
    </div>
</header>
<div #point_3 class="triangle-down"></div>
<!-- end of header -->

<!-- <div #point_3></div> -->
<div class="skillsDiv">
<div class="skillsTitle"><h2>My Skills</h2></div>
<div class="myskillsDiv" >
  <div class="myskills">
      <div>
        <p>Django</p>
        <img src="../assets/skills/django.png"/>
      </div>
      <div>
        <p>Angular</p>
        <img src="../assets/skills/angular.png"/>
      </div>
      <div>
        <p>CSS</p>
        <img src="../assets/skills/css.png"/>
      </div>
      <div>
        <p>MATLAB</p>
        <img src="../assets/skills/matlab.png"/>
      </div>
      <div>
        <p>MongoDB</p>
        <img src="../assets/skills/mongodb.png"/>
      </div>
      <div>
        <p>Mongoose</p>
        <img src="../assets/skills/mongoose.png"/>
      </div>
      <div>
        <p>React</p>
        <img src="../assets/skills/react.png"/>
      </div>
      <div>
        <p>SQL</p>
        <img src="../assets/skills/sql.png"/>
      </div>
      <div>
        <p>Express.js</p>
        <img src="../assets/skills/express.png"/>
      </div>
      <div>
        <p>Heroku</p>
        <img src="../assets/skills/heroku.png"/>
      </div>
      <div>
        <p>R Studio</p>
        <img src="../assets/skills/R.png"/>
      </div>
      <div>
        <p>Python</p>
        <img src="../assets/skills/python.png"/>
      </div>
  </div>
</div>
</div>

<!-- projects -->
<div #point_2></div>
<div class="projDiv">
  <div class="projTitle"><h2>My Projects</h2></div>
  <div class="caresoulDiv">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide"  class="projimage"/>
      </div>
      <div class="carousel-caption projtext">
        <h3>Battleships</h3>
        <button type="button" class="btn btn-success" ><a href="https://github.com/vrtisjames1/battleship" target="_blank">Github</a></button>
        <button type="button" class="btn btn-success" ><a href="https://battleships123.netlify.app/" target="_blank">Live</a></button>
        <p>Front-end angular and back-end django application where two people can create a profile and play a classic game of "Battleships"</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide" class="projimage"/>
      </div>
      <div class="carousel-caption projtext">
        <h3>Connect4</h3>
        <button type="button" class="btn btn-success" ><a href="https://github.com/vrtisjames1/connect4_frontend" target="_blank">Github</a></button>
        <button type="button" class="btn btn-success" ><a href="https://connect4unit4.herokuapp.com/" target="_blank">Live</a></button>
        <p>Front-end react and back-end django application where two people can create a profile and play a classic game of "Connect4" through websockets</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide"  class="projimage"/>
      </div>
      <div class="carousel-caption projtext">
        <h3>Teacher</h3>
        <button type="button" class="btn btn-success" ><a href="https://github.com/vrtisjames1/Proj3_App" target="_blank">Github</a></button>
        <button type="button" class="btn btn-success" ><a href="https://studentupdate.netlify.app/" target="_blank">Live</a></button>
        <p>Front-end react and back-end express.js application where a teacher can provide updates on student progress to parents. The website containes user authentication and role-based access to maintain student/parent confidentiality</p>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random fourth slide"  class="projimage"/>
      </div>
      <div class="carousel-caption projtext">
        <h3>Secret Santa</h3>
        <button type="button" class="btn btn-success" ><a href="https://github.com/vrtisjames1/app" target="_blank">Github</a></button>
        <button type="button" class="btn btn-success" ><a href="https://ancient-bastion-28884.herokuapp.com/" target="_blank">Live</a></button>
        <p>Server side multi-page application to play a game of "Secret Santa". Groups input their names, wishlist, and partner restrictions (such as a spouse), and then names are drawn at random and emailed in secret to each person</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</div>


<div #point_1></div>
<div class="contactMe" >
  <div class="contactmeDiv">
    <div class="contactmeTitle"><h2>Contact Me</h2></div>
    <p><b>Email: </b>vrtisjames@gmail.com</p>
    <p><b>LinkedIn: </b>linkedin.com/in/jamesvrtis1</p>
  </div>
</div>

</div>