@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

.divcontainer{
    margin: 0;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    background-color: rgba(103, 128, 159, 0.8);
}
nav{
  width: 100vw;
  font-size: 1.75em;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(255,255,255, 0.8);
  font-family: 'Unbounded', cursive;
  z-index: 1;
  cursor: pointer;
}
.aboutme1 ,.skills1, .projects1, .resume1, .contact1{
  display: none;
}
.aboutme, .skills,.projects, .resume, .contact{
  display: flex;
  color: black;
  text-shadow: white 2px 2px;
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

// icons

a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.icons{
  display: flex;
  margin: 1em;
  gap: 1em;
}

.linkedin{
  background-color: #0072b1;
  position: absolute;
  left: 0px;
  top: 275px;
  z-index: 0;
  padding: 5px 5px 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  color: white;
}
.text{
  display: none;
}

.linkedin:hover{
  padding: 5px 5px 5px 30px;

  .text{
    display: inline-block;
    font-size: 1em;
  }

}

.github{
  background-color: #A03232;
  position: absolute;
  left: 0px;
  top: 220px;
  z-index: 0;
  padding: 5px 5px 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  color: white;
}

.github:hover{
  padding: 5px 5px 5px 30px;

  .text{
    display: inline-block;
    font-size: 1em;
  }
}

// about me stuff

.about_me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.photodiv{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.photo{
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 3em;
}

.imgline{
  height: 4px;
  width: 60%;
  background-color: white;
  border-radius: 50%;
}

.aboutmeText{
    display: flex;
    margin: 0 4.2em 2em 4.2em;
    font-size: 1.5em;
    text-align:justify;
    text-align-last:left;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.myskillsDiv{
  display: flex;
  max-width: 500px;
  overflow-x:scroll;
  background-color: rgba(169, 169, 169,0.65);
  border: 5px solid grey;
  border-radius: 5px;
  margin: 8em 5em 0 5em;
}
 .myskills{
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  margin: 0 3em 0 1.5em;
 }

.contactmeDiv{
  margin: 0 1em 8em 1em;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  width: 90vw;
  font-size: 1.3em;
}

.contactmeTitle{
  border-bottom: 1px solid black;
  padding-bottom: 0.6em;
  padding-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  background: rgb(238,238,238);
  background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(181,181,123,0.9961050724637681) 41%);
  text-shadow: white 2px 2px;
  font-family: 'Unbounded', cursive;
}

// caresoul
.caresoulDiv{
  border: 1px solid grey;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  object-fit:cover;
  margin: 8em 0 8em 0;
}
.projtext{
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  border-radius: 5px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fffa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.btn{
  border: 1px solid black;

}
.projimage{
  max-width: 98vw;
}
// hamburger button
.btnham {
  cursor: pointer;
  margin: 10px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background: black;
  margin: 3px;
  position: relative;
}


// media query
@media only screen and (max-width: 1100px) {
  .myskillsDiv{
    margin-right: 1.2em;
    margin-left: 1.2em;
    width: 100%;
    overscroll-behavior: contain;
  }

  .aboutmeText{
    font-size: 0.9em;
  }

  nav{
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 100vh;
    background-color: rgba(255,255,255,0.9);
  }

  .aboutme1 ,.skills1, .projects1, .resume1, .contact1{
    font-size: 1.2em;
    justify-content: center;
    padding: 10px 0 10px 0;
    width: 60%;
    border: 1px solid black;
    background-color: rgba(235,235,235,1);
    margin: 0.8em 0 0.8em 0;
    border-radius: 5px;
    box-shadow: rgba(103, 128, 159, 1) 2px 2px 2px 2px;
  }

  .iconsfalse{
    z-index: -1;
  }

  .myprojects{
    width: 98vw;
    margin: 1em 0 1em 0;
  }

  .contactmeDiv{
    width: 98vw;
    margin: 1em 0 3em 0;
  }

  .projectsimg{
    width: 98vw;
  }

  .projtext{
font-size: 0.8em;
  }
}